* {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: "Lato", sans-serif;
}
/* shared styles */
.shared-title {
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  margin-top: 120px;
}
.shared-para {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  max-width: 500px;
  margin: auto;
  padding-top: 24px;
}
/* banner related styles */
.banner {
  display: flex;
  justify-content: space-between;
  background-color: rgba(229, 84, 115, 0.1);
  align-items: end;
}
.banner-content {
  max-width: 700px;
  padding: 150px 0px 140px 150px;
}
.banner-title {
  color: #272727;
  font-size: 80px;
  font-weight: 800;
}
.banner-info {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  padding: 32px 0px;
  line-height: 30px;
}
.image1 {
  padding-right: 100px;
  width: 600px;
  height: 775px;
  padding-top: 50px;
}
.primarybtn {
  border-radius: 8px;
  background: #e55473;
  border: 0px;
  padding: 20px 40px;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  margin-top: 30px;
}
/* featured flowers */
.featured-images {
  margin-top: 50px;
  gap: 24px;
  display: flex;
  justify-content: center;
}
/* style for three featured images  */
.featured-image1 {
  width: 270px;
  height: 350px;
}
.featured-image2 {
  /width: 300px;
  height: 300px;
  padding-bottom: 30px;
}
.featured-image3 {
  /width: 310px;
  height: 420px;
}
/* style for featured image background */

.featured-contents1 {
  border-radius: 300px 300px 0px 0px;
  background: rgba(167, 33, 98, 0.15);
  width: 370px;
  height: 444px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.featured-contents2 {
  border-radius: 300px 300px 0px 0px;
  background: rgba(5, 151, 160, 0.15);
  width: 370px;
  height: 444px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.featured-contents3 {
  border-radius: 300px 300px 0px 0px;
  background: rgba(71, 125, 17, 0.15);
  width: 370px;
  height: 444px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.image-title {
  text-align: center;
  text-decoration: underline;
  color: #272727;
  font-size: 20px;
  font-weight: 700;
  margin-top: 32px;
}
/* 2rd section releted styles */
.icon-container {
  display: flex;
  border-radius: 8px;
  background: rgba(39, 39, 39, 0.05);
  justify-content: center;
  margin: 120px 175px;
}
.icon-para {
  padding: 80px;
  text-align: center;
}
.icon {
  padding-bottom: 20px;
}
.icon-info {
  color: rgba(39, 39, 39, 0.8);
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 35px;
}
/* hot deal section */
.deal-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 8px;
  background: rgba(229, 84, 115, 0.05);
}
.deal-info {
  text-align: center;
  padding-left: 200px;
  padding-bottom: 50px;
}
.rose {
  padding: 80px 150px;
}
/* instagram section style */
.instapic-container {
  display: flex;
  gap: 20px;
  margin: 50px 175px;
}
.instapic {
  width: 280px;
  height: 330px;
}
